div {
    top: 0;
    min-height: 70px;
    background-color: rgb(74, 74, 74);
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 70px;
    box-shadow: rgb(255, 255, 255) 0px 10px 20px -10px;
    font-size: 20px;
    font-weight: 800;
}