<div class="cont">
    Developed with love by 
    <a href="https://twitter.com/FpSweeper" target="_blank" style="color: white; text-decoration: none;"> 
        <img src="../../assets/coding.png" height="32px" style="margin-right: 5px;" alt=""> 
        FpSweeper
    </a>

    <div class="links">
        <a href="https://magiceden.io/marketplace/revengerz" target="_blank" style="color: white; text-decoration: none;"> 
            <img class="imm" src="../../assets/me.png" height="24px" style="margin-right: 5px;" alt=""> 
        </a>
        <a href="https://twitter.com/RevengerZ_NFT" target="_blank" style="color: white; text-decoration: none;"> 
            <img class="imm" src="../../assets/twitter.png" height="24px" style="margin-right: 5px;" alt=""> 
        </a>
        <a href="https://discord.gg/rqcDevt9F6" target="_blank" style="color: white; text-decoration: none;"> 
            <img class="imm" src="../../assets/discord.png" height="24px" style="margin-right: 5px;" alt=""> 
        </a>
    </div>
</div>
